.primary-color{
    -fx-background-color: #3B3C40;
}
.font-color{
    -fx-text-fill: #BFBFBF;
    -fx-text-inner-color: #BFBFBF;
}
.border-style{
    -fx-border-color: #222326 ;
    -fx-border-width: 2 ;
}