HBox {
    -fx-alignment: BOTTOM_LEFT;
    -fx-padding: 5px 5px;
}

Label {
    -fx-font-family: "Droid Sans";
    -fx-padding: 5px 5px;
}

.labelClass {
    -fx-font-size: 12px;
}

.to-from {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: BOTTOM_LEFT;
    -fx-padding: 5px 5px 2px 5px;
}

#destinationTitleLabel {
    -fx-padding: 5px 5px 5px 20px;
}

.contentClass{
    -fx-font-size: 14px;
}

#heartBox {
    -fx-padding: 1px, 1px, 1px, 1px;
    -fx-alignment: BOTTOM_LEFT;
}

#tourPopularityLabel {
    -fx-text-fill: red;
    -fx-text-inner-color: red;
    -fx-font-size: 16;
}

