.title{
    -fx-background-color: green;
}
.menu{
    -fx-background-color: red;
}
.tours{
    -fx-background-color: blue;
}
.details{
    -fx-background-color: yellow;
    -fx-background-size: cover, auto;
    display: flex;
    flex-flow: row wrap;
}
